<div class="SV_input" id="SV_input">
	<div class="widgetIcons">
		<div class="widgetIcon">
			<i class="fas fa-microphone-slash" aria-hidden="true" id="SVI_ICON"></i>
		</div>
	</div>
	<div class="SV_text" id="SV_ASRcontentInput">
		-
	</div>
	<div class="SV_topR" id="SV_ASRconf"></div>
	<div class="SV_smallHeader_L">
		<div class="SV_text" id="SV_NLUskill">
			none
		</div>
		Skill
	</div>
	<div class="SV_smallHeader_R">
		<div class="SV_text" id="SV_NLUconf">
			~~%
		</div>
		Confidence
	</div>
</div>
